<template>
  <v-container>
    <div>Add Course</div>

    <v-sheet width="800" class="mt-10">
      <v-form ref="form">
        <v-text-field
          v-model="course.name"
          :rules="[(v) => !!v || 'Name is required']"
          label="Name"
          required
        ></v-text-field>

        <v-textarea
          v-model="course.description"
          :rules="[(v) => !!v || 'Description is required']"
          label="Description"
          required
        ></v-textarea>

        <v-text-field
          v-model="course.key"
          :rules="[(v) => !!v || 'Key is required']"
          label="Key"
          required
        ></v-text-field>

        <v-select
          v-model="course.instructor"
          :items="instructors"
          :rules="[(v) => !!v || 'Instructor is required']"
          label="Assigned Instructor"
          required
        ></v-select>

        <v-btn block class="mt-2" @click="onSubmit"> Submit </v-btn>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script>
import { insert } from "@/firebase";
import { serverTimestamp } from "firebase/database";
export default {
  data: () => ({
    course: {
      name: "",
      description: "",
      key: "",
      instructor: null,
    },
    instructors: [1, 2, 3, 4],
  }),

  methods: {
    async onSubmit() {
      const { valid } = await this.$refs.form.validate();

      if (valid) {
        insert("courses", {
          name: this.course.name,
          description: this.course.description,
          key: this.course.key,
          instructor_id: this.course.instructor,
          created_at: serverTimestamp(),
          updated_at: serverTimestamp(),
        });

        this.$router.push({ name: "courses" });
      }
    },
  },
};
</script>
