<template>
  <v-container>
    <div class="d-flex justify-space-between align-center">
      <div>Courses</div>

      <router-link to="courses/create">
        <v-btn> Create Course </v-btn>
      </router-link>
    </div>

    <v-table class="mt-10">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Description</th>
          <th class="text-left">Key</th>
          <th class="text-left">Assigned Instructor</th>
          <th class="text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="course in courses" :key="course.id">
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.key }}</td>
          <td>{{ course.instructor_id }}</td>
          <td>
            <router-link
              :to="{ name: 'EditCourse', params: { id: course.id } }"
            >
              <v-btn> Edit </v-btn>
            </router-link>
            <v-btn @click.prevent="deleteCourse(course.id)" color="error"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>

<script>
import { deleteData, getDataFromFirebase } from "@/firebase";

export default {
  data() {
    return {
      courses: [],
    };
  },
  created() {
    this.loadCourses();
  },
  methods: {
    loadCourses() {
      getDataFromFirebase("courses").then((data) => {
        this.courses = data;
      });
    },
    deleteCourse(id) {
      if (window.confirm("Do you really want to delete?")) {
        deleteData("courses/", id);

        this.loadCourses();
      }
    },
  },
};
</script>
