<template>
  <div class="pa-15">
    <div class="d-flex justify-space-between align-center">
      <div>Users</div>

      <v-btn @click="openDialog(false)"> Create User </v-btn>
    </div>

    <v-table class="border-radius-50 pa-5 mt-10 w-auto">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Email</th>
          <th class="text-left">Gender</th>
          <th class="text-left">isAdmin</th>
          <th class="text-left">isTeacher</th>
          <th class="text-left">Created At</th>
          <th class="text-left">Last Sign in</th>
          <th class="text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{ user.displayName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ getGender(user.gender) }}</td>
          <td>{{ user.isAdmin }}</td>
          <td>{{ user.isTeacher }}</td>
          <td>{{ getDate(user.creationTime) }}</td>
          <td>{{ getDate(user.lastSignInTime) }}</td>
          <td>
            <v-btn color="primary" @click="openDialog(true, user)">
              Edit Profile
            </v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>

    <!--For editing users-->
    <custom-dialog
      v-model="dialog"
      :title="isEdit ? `Edit ${selectedUser.displayName}` : `Add user`"
    >
      <template v-slot:content>
        <v-form ref="form" class="w-100 my-2">
          <v-text-field
            color="secondary"
            v-model="selectedUser.displayName"
            :rules="[(v) => !!v || 'Name is required']"
            label="Display Name"
            required
          ></v-text-field>
          <v-text-field
            color="secondary"
            v-if="!isEdit"
            v-model="selectedUser.email"
            :rules="[(v) => !!v || 'Email is required']"
            label="Email"
            required
          ></v-text-field>
          <v-text-field
            color="secondary"
            v-if="!isEdit"
            type="password"
            v-model="selectedUser.password"
            :rules="[(v) => !!v || 'Password is required']"
            label="Password"
            required
          ></v-text-field>
          <v-select
            color="secondary"
            label="Gender"
            v-model="selectedUser.gender"
            :items="genderList"
            item-title="text"
            item-value="value"
            required
          ></v-select>
          <div class="d-flex">
            <v-switch
              color="secondary"
              label="Is Admin"
              v-model="selectedUser.isAdmin"
            ></v-switch>
            <v-switch
              color="secondary"
              label="Is Teacher"
              v-model="selectedUser.isTeacher"
            ></v-switch>
          </div>
        </v-form>
        <v-card-actions class="d-flex">
          <v-btn color="primary" @click="resetData()"> Cancel </v-btn>
          <v-btn color="primary" variant="flat" @click="saveChanges()">
            {{ isEdit ? "Save changes" : "Add user" }}
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>

    <!-----Delete Dialog---->
    <custom-dialog v-model="deleteDialog" title="Delete user">
      <template v-slot:content>
        <div class="pb-7 pt-3">
          You are attempting to delete this user. All informations related to
          this user will be <b>permanently deleted</b>. Are you sure you want to
          continue?
        </div>
        <v-card-actions class="d-flex">
          <v-btn color="danger" @click="resetData()"> Cancel </v-btn>
          <v-btn color="danger" variant="flat" @click="deleteUser()">
            Delete
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>
  </div>
</template>

<script>
import { createUserAsAdmin, getDataFromFirebase, updateData } from "@/firebase";
import * as _ from "lodash";
import { GENDERS } from "@/shared/constants";
import CustomDialog from "@/components/CustomDialog.vue";
import { mapGetters } from "vuex";
import { getters } from "@/store/auth/constants";

export default {
  components: {
    CustomDialog,
  },

  data() {
    return {
      newUser: {},
      users: [],
      dialog: false,
      selectedUser: {
        gender: "male",
        isAdmin: false,
        isTeacher: false,
      },
      deleteDialog: false,
      genderList: GENDERS,
      isEdit: false,
    };
  },
  created() {
    this.loadUsers();
  },

  computed: {
    ...mapGetters({
      uid: getters.GET_UID,
    }),
    getGender() {
      return (gender) => {
        const genderObj = _.find(GENDERS, { value: gender });
        return _.get(genderObj, "text", "");
      };
    },

    getDate() {
      return (date) => {
        const newDate = new Date(date).toDateString();
        return newDate;
      };
    },
  },

  methods: {
    loadUsers() {
      getDataFromFirebase("user-profiles").then((data) => {
        const filteredData = _.filter(data, (user) => {
          return user.id !== this.uid;
        });
        this.users = filteredData;
      });
    },

    openDeleteDialog(user) {
      this.deleteDialog = true;
      this.selectedUser = user;
    },

    openDialog(isEdit, user) {
      this.dialog = true;
      this.isEdit = isEdit;

      if (this.isEdit) {
        this.selectedUser = user;
      }
    },

    async saveChanges() {
      if (this.isEdit) {
        await updateData(
          "user-profiles/",
          this.selectedUser.id,
          this.selectedUser
        );
      } else {
        await createUserAsAdmin(
          this.selectedUser.email,
          this.selectedUser.password,
          {
            name: this.selectedUser.displayName,
            gender: this.selectedUser.gender,
            isAdmin: this.selectedUser.isAdmin,
            isTeacher: this.selectedUser.isTeacher,
          }
        ),
          this.loadUsers();
      }
      this.resetData();
    },

    async deleteUser() {
      this.resetData();
    },

    resetData() {
      this.dialog = false;
      this.selectedUser = {};
      this.deleteDialog = false;
    },
  },
};
</script>
