/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use "vuetify" with (
//   $body-font-family: "Montserrat"
// );

html {
  font-family: "Montserrat";
}

a {
  color: #000;
  text-decoration: none;
}

.text-white {
  color: #fff !important;
  text-decoration: none !important;
}

main {
  background: linear-gradient(rgba(38, 39, 40, 0.75), rgba(23, 25, 27, 0.75)),
    url("background-new.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.border-radius-50 {
  border-radius: 50px;
}

router-link {
  color: #000;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}
