<template>
  <div class="main-banner">
    <div class="d-flex justify-center">
      <p class="header pr-3"><u class="custom-underline">Contact</u></p>

      <p class="header">Us</p>
    </div>
    <div class="d-flex mt-7">
      <img class="contact-img" height="30" src="/assets/contact-img.svg" />
      <v-card class="card-50-radius h-auto w-50">
        <template v-slot:title>
          <div class="d-flex justify-center">
            <p class="title">Get in touch!</p>
          </div>
        </template>

        <template v-slot:text>
          <v-form ref="form" class="w-100 my-7">
            <v-text-field
              color="secondary"
              v-model="contact.full_name"
              :rules="[(v) => !!v || 'Full name is required']"
              label="Full name"
              variant="outlined"
              required
            ></v-text-field>

            <v-text-field
              color="secondary"
              v-model="contact.email"
              :rules="[(v) => !!v || 'Email is required']"
              label="Email"
              type="email"
              variant="outlined"
              required
            ></v-text-field>

            <v-text-field
              color="secondary"
              type="number"
              :min="0"
              variant="outlined"
              v-model="contact.phone"
              :rules="[(v) => !!v || 'Phone number is required']"
              label="Phone number"
              required
            ></v-text-field>
            <v-textarea
              color="secondary"
              rows="2"
              variant="outlined"
              v-model="contact.message"
              :rules="[(v) => !!v || 'Message is required']"
              label="Message"
              required
            ></v-textarea>
          </v-form>
        </template>

        <template v-slot:actions>
          <v-btn
            block
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="sendEmail()"
          >
            Send message
          </v-btn>
        </template>
      </v-card>
    </div>
  </div>
</template>

<script>
import emailjs from "@emailjs/browser";
import { mapActions } from "vuex";
import { actions } from "@/store/snackbar/constants";

export default {
  data: () => ({
    contact: {},
  }),
  methods: {
    ...mapActions({
      openSnackBar: actions.SHOW_SNACKBAR,
    }),
    sendEmail() {
      emailjs
        .send(
          "service_ssi6tpn",
          "template_tmdle5k",
          this.contact,
          "qUYbaowKwfLHwlxjc"
        )
        .then(
          async (result) => {
            await this.openSnackBar({
              text: "Email sent!",
              color: "primary",
              timeout: 5000,
            });
            console.log("SUCCESS!", result.text);
          },
          async (error) => {
            await this.openSnackBar({
              text: "Oops something went wrong!",
              color: "primary",
              timeout: 5000,
            });
            console.log("FAILED...", error.text);
          }
        );
      this.contact = {};
    },
  },

  computed: {},
};
</script>
<style scoped>
.header {
  font-size: 50px;
  font-weight: 600;
}

.contact-img {
  height: 500px;
}

.custom-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #004e99;
  text-decoration-thickness: 10px;
  margin-bottom: 10px;
}

.main-banner {
  background-color: #00001e;
  color: white;
  padding: 30px 50px;
  height: 100vh;
}
</style>
