<template>
  <v-container>
    <div class="d-flex justify-space-between align-center">
      <div>Explore Courses</div>
    </div>

    <v-container>
      <v-row>
        <v-col v-for="course in courses" :key="course.id" xs="12" sm="5" md="4">
          <v-card
            width="300"
            height="150"
            @click.stop="selectCourse(course.id)"
          >
            <v-card-item>
              <v-card-title>{{ course.name }}</v-card-title>
            </v-card-item>
            <v-card-text>
              {{ course.description }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="dialog" max-width="50%">
      <v-card>
        <v-card-item>
          <v-card-title>
            {{ selectedCourse.name }}
          </v-card-title>
          <v-card-subtitle
            >Instructor: {{ selectedCourse.instructor_id }}</v-card-subtitle
          >
        </v-card-item>

        <v-card-text>
          {{ selectedCourse.description }}
        </v-card-text>

        <v-container>
          <v-form @submit.prevent="enrollCourse()">
            <v-responsive class="mx-auto" width="340">
              <v-text-field
                v-model="inputKey"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                hint="Enter the password key to access this course"
                variant="outlined"
                density="compact"
                :error="invalidKey"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                persistent-hint
                required
              ></v-text-field>
            </v-responsive>
          </v-form>
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn variant="text" @click="enrollCourse()"> Enroll </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { checkKey, getDataFromFirebase, getDataFromId } from "@/firebase";

export default {
  data() {
    return {
      dialog: false,
      show: false,
      invalidKey: false,
      inputKey: "",
      courses: [],
      selectedCourse: {},
    };
  },
  created() {
    this.loadCourses();
  },
  methods: {
    loadCourses() {
      getDataFromFirebase("courses").then((data) => {
        this.courses = data;
      });
    },
    selectCourse(id) {
      getDataFromId("courses/", id).then((data) => {
        this.selectedCourse = {
          ...data,
          instructor: data.instructor_id,
          id,
        };
      });

      this.invalidKey = false;
      this.inputKey = "";
      this.dialog = true;
    },
    enrollCourse() {
      checkKey("courses/", this.selectedCourse.id, this.inputKey).then(
        (data) => {
          this.invalidKey = !data;

          if (data) {
            this.$router.push({ name: "user-courses" });
          }
        }
      );
    },
  },
};
</script>
