<template>
  <div class="banner-cover">
    <div :style="contentSizes" class="content">
      <v-row xs="12" sm="5" md="3" no-gutters>
        <v-col cols="12" md="7" lg="7" xl="7">
          <div class="main-text">
            <h1>Welcome to AniTed!</h1>
            <h5 class="mt-3">#Learn3DAnimations</h5>
            <div class="content-text">
              <p>
                AniTED is an alternative E-Learning platform for aspiring
                animators who want to improve and acquire knowledge about 3D
                Animation.
              </p>
              <p class="mt-4">
                AniTEd will steadily improve students' abilities and knowledge
                as they advance through the modules and activities in AniTEd,
                advancing from basic to intermediate skills that are essential
                for every aspiring animator.
              </p>
            </div>
          </div>
        </v-col>
        <v-col class="text-center" cols="12" md="5" lg="5" xl="5">
          <img class="content-image" src="/assets/render.png" alt="" />
        </v-col>
      </v-row>
    </div>
  </div>

  <div class="details-cover w-100">
    <div class="details">
      <h2 :style="detailsSize">Animation is imagination</h2>
      <p>Find inspiration and discover new skills in 3D animation</p>
    </div>

    <div class="main-box">
      <div class="box box-green">
        <h2>Visualization</h2>
        <hr />
        <p>
          Visualization through visual imagery has been an effective way to
          communicate both abstract and concrete ideas since the dawn of
          humanity.
        </p>
        <br />
        <p>
          Animations can enhance the visual appeal of the visualization being
          presented.
        </p>
        <a href="#">Read More</a>
      </div>

      <div class="box box-orange">
        <h2>Digital Design</h2>
        <hr />
        <p>
          Digital design is a type of visual communication that presents
          information or a product or service through a digital interface.
        </p>
        <br />
        <p>
          Put simply, it's graphic design made specifically to be used on
          computers.
        </p>
        <a href="#">Read More</a>
      </div>

      <div class="box box-green">
        <h2>Creativity</h2>
        <hr />
        <p>
          The surreal nature of animation, artists who enter this field need to
          have a deep well of ideas and inspiration to turn to.
        </p>
        <br />
        <p>
          A 3D animator must possess the skill to take the real world and make
          it a natural part of the fantasy world.
        </p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div :style="boxContainer" class="testcontainer">
    <div :style="contentWrapper" class="wrapper">
      <div :style="boxSize" class="box-test">
        <p>The module presents the ideas and lessons in an efficient manner.</p>
        <div class="home-content">
          <div class="info">
            <div class="name">Grayson Willis</div>
            <div class="job">Student | Animator</div>
          </div>
          <div class="image">
            <img src="/assets/avatar.png" alt="" />
          </div>
        </div>
      </div>

      <div :style="boxSize" class="box-test">
        <p>Teaching has always been fun on this module.</p>
        <div class="home-content">
          <div class="info">
            <div class="name">John Smith</div>
            <div class="job">Instructor | Designer</div>
          </div>
          <div class="image">
            <img src="/assets/avatar_teacher.png" alt="" />
          </div>
        </div>
      </div>

      <div :style="boxSize" class="box-test">
        <p>You can really understand each content, Truly.</p>
        <div class="home-content">
          <div class="info">
            <div class="name">Len Howell</div>
            <div class="job">Student | Animator</div>
          </div>
          <div class="image">
            <img src="/assets/avatar.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useDisplay } from "vuetify";

export default {
  setup() {
    const { xs, mdAndUp } = useDisplay();

    return { xs, mdAndUp };
  },

  computed: {
    contentSizes() {
      return {
        "font-size": this.mdAndUp ? "40px" : "30px",
      };
    },

    detailsSize() {
      return {
        "font-size": this.mdAndUp ? "50px" : "40px",
      };
    },

    boxContainer() {
      return {
        height: this.mdAndUp ? "300px" : "800px",
      };
    },

    contentWrapper() {
      return {
        display: this.mdAndUp ? "flex" : "block",
      };
    },

    boxSize() {
      return {
        width: this.mdAndUp ? "calc(33% - 10px)" : "100%",
        "margin-bottom": this.mdAndUp ? "0" : "20px",
      };
    },
  },
};
</script>

<style scoped>
.banner-cover {
  background: url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}

.content {
  background-color: rgba(0, 0, 30, 0.6);
  color: white;
  width: 100%;
  padding: 4%;
  line-height: 0.9;
}

.content-text {
  font-size: 20px;
  margin-top: 40px;
  line-height: 1.2;
}

.content-image {
  height: 100%;
  max-width: 80%;
  object-fit: "contain";
}

.details-cover {
  border-top: #404044 10px solid;
  border-bottom: #404044 10px solid;
}

.testcontainer {
  position: relative;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  background-color: #051a2d;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box-test {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper .box-test .home-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.box-test .info .name {
  font-weight: 600;
  font-size: 17px;
}
.box-test .info .job {
  font-size: 16px;
  font-weight: 500;
  color: #ee4392;
}

.box-test .home-content .image {
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #ee4392;
  border-radius: 50%;
}
.home-content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.box-test:hover .home-content .image img {
  border-color: #fff;
}

.details {
  text-align: center;
  background-color: #cd4d88;
  color: white;
  padding: 40px;
}

.details h2 {
  color: white;
  margin: 0;
}

.main-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #cd4d88;
  padding-bottom: 80px;
}

.box {
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}
.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box:hover::before {
  width: 95%;
  height: 95%;
  transition: all ease 0.5s;
}

.box .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("images/code.png");
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon {
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.box a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #051a2d;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600;
}

.box a:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.box-green {
  background-color: #dc9cbb;
}

.box-orange {
  background-color: #6a81c3;
}
</style>
