<template>
  <div class="main-banner">
    <h2 class="main-title">Animation Platform</h2>
    <p>Learn about the vast informations in animation.</p>

    <v-row class="mt-12 mb-5" xs="12" sm="5" md="3" no-gutters>
      <v-col cols="12" md="6" lg="6" xl="6">
        <img class="main-image" src="/assets/main-banner.jpg" alt="" />
      </v-col>
      <v-col cols="12" md="6" lg="6" xl="6">
        <v-card
          class="mx-auto py-4"
          theme="dark"
          prepend-icon="mdi-web"
          title="Platforms"
        >
          <template v-slot:prepend>
            <v-icon size="large"></v-icon>
          </template>

          <v-card-text class="py-2">
            <div class="mt-4 main-text">
              <p>
                A website is one of the most valuable and convenient modern
                platforms because of its technological purposes, it can present,
                share, and display some informational contents online.
              </p>
              <p class="my-3">
                3D animation is a process of creating moving images in a
                three-dimensional form, it gives an illusion of digital objects
                moving through a 3D space.
              </p>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>

  <div class="carousel-container">
    <div class="text-center">
      <h2 class="main-title">Time to get that dough</h2>
      <p>Discover our digital designs and get creative with yours.</p>
    </div>
    <div class="carousel-banner my-8">
      <v-carousel
        cycle
        :show-arrows="false"
        hide-delimiter-background
        class="carousel"
      >
        <v-carousel-item>
          <img class="banner-image" src="/assets/donut_1.png" alt="" />
        </v-carousel-item>
        <v-carousel-item>
          <img class="banner-image" src="/assets/donut_2.jpg" alt="" />
        </v-carousel-item>
        <v-carousel-item>
          <img class="banner-image" src="/assets/donut_3.jpg" alt="" />
        </v-carousel-item>
      </v-carousel>
    </div>
  </div>

  <div class="sheep-banner py-8">
    <div>
      <h2 class="main-title">Properties and Shape</h2>
      <p>
        These are the three properties that define any three-dimensional solid.
      </p>
    </div>

    <v-row class="mt-12 mb-5" xs="12" sm="5" md="2" no-gutters>
      <v-col class="text-center" cols="12" md="6" lg="6" xl="6">
        <img class="block-image" src="/assets/block.png" alt="" />
      </v-col>
      <v-col class="text-center" cols="12" md="6" lg="6" xl="6">
        <img class="togepi-image" src="/assets/togepi.jpg" alt="" />
      </v-col>
    </v-row>
  </div>

  <div class="carousel-container">
    <h2 class="main-title">Rendered Frame</h2>
    <p>Generate a series of individual pixel based frames or a video clip.</p>

    <v-row class="mt-12 mb-5" xs="12" sm="5" md="3" no-gutters>
      <v-col class="text-center" cols="12" md="6" lg="6" xl="6">
        <img class="sheep-image" src="/assets/home_sheep.jpg" alt="" />
      </v-col>
      <v-col cols="12" md="6" lg="6" xl="6">
        <v-card
          class="mx-auto py-4"
          theme="dark"
          prepend-icon="mdi-video-stabilization"
          title="Computer-generated Animation"
        >
          <template v-slot:prepend>
            <v-icon size="large"></v-icon>
          </template>

          <v-card-text class="py-2">
            <div class="mt-4 main-text">
              <p>
                Rendering is used in both 2D and 3D computer animation. The
                final assembled animation scenes are pieced out of the computer
                in the format of a sequence of individual frames.
              </p>
              <p class="my-3">
                It is the process of creating final animation frames in
                traditional hand-drawn animation.
              </p>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>

  <div class="main-banner">
    <div class="text-center">
      <h2 class="main-title">Didn't see you there</h2>
      <p>Know the different perspectives in drawing</p>
    </div>
    <v-card max-width="800" theme="dark" class="mx-auto mt-10">
      <v-container class="pa-1">
        <v-item-group v-model="selection" multiple>
          <v-row>
            <v-col cols="12" md="6">
              <v-item v-slot="{ isSelected, toggle }">
                <v-img
                  src="/assets/top.jpg"
                  cover
                  class="text-right pa-2"
                  @click="toggle"
                >
                  <v-btn
                    :icon="isSelected ? 'mdi-heart' : 'mdi-heart-outline'"
                  ></v-btn>
                </v-img>
              </v-item>
            </v-col>
            <v-col cols="12" md="6">
              <v-item v-slot="{ isSelected, toggle }">
                <v-img
                  src="/assets/perspective.jpg"
                  cover
                  class="text-right pa-2"
                  @click="toggle"
                >
                  <v-btn
                    :icon="isSelected ? 'mdi-heart' : 'mdi-heart-outline'"
                  ></v-btn>
                </v-img>
              </v-item>
            </v-col>
            <v-col cols="12" md="6">
              <v-item v-slot="{ isSelected, toggle }">
                <v-img
                  src="/assets/front.jpg"
                  cover
                  class="text-left pa-2"
                  @click="toggle"
                >
                  <v-btn
                    :icon="isSelected ? 'mdi-heart' : 'mdi-heart-outline'"
                  ></v-btn>
                </v-img>
              </v-item>
            </v-col>
            <v-col cols="12" md="6">
              <v-item v-slot="{ isSelected, toggle }">
                <v-img
                  src="/assets/side.jpg"
                  cover
                  class="text-left pa-2"
                  @click="toggle"
                >
                  <v-btn
                    :icon="isSelected ? 'mdi-heart' : 'mdi-heart-outline'"
                  ></v-btn>
                </v-img>
              </v-item>
            </v-col>
          </v-row>
        </v-item-group>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import { useDisplay } from "vuetify";

export default {
  data() {
    return {
      images: ["donut_1.png", "donut_2.jpg", "donut_3.jpg"],
      slides: ["First", "Second", "Third"],
    };
  },

  setup() {
    const { xs, mdAndUp } = useDisplay();

    return { xs, mdAndUp };
  },
};
</script>

<style scoped>
.main-banner {
  background-color: #00001e;
  color: white;
  padding: 50px;
}

.main-title {
  font-size: 45px;
}

.main-text {
  font-size: 20px;
  line-height: 1.2;
}

.sheep-banner {
  background-color: #cd4d88;
  color: white;
  padding: 20px 50px;
}

.main-image {
  max-width: 90%;
  max-height: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.8);
}

.togepi-image {
  max-width: 88%;
  max-height: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.8);
}

.left-banner {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 25px;
}

.right-banner {
  width: 100%;
}

.right-image {
  width: 70%;
  padding: 0 auto;
}

.carousel-container {
  background-color: #004e99;
  color: white;
  padding: 30px 50px;
}

.carousel-banner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(rgb(0, 0, 30, 0.3), rgb(0, 0, 30, 0.3)),
    url("donut-sprinkles.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.carousel {
  height: 100%;
  width: 100%;
  text-align: center;
}

.banner-image {
  max-width: 100%;
  max-height: 100%;
}

.block-banner {
  background-color: #a7aee2;
  border-top: #404044 10px solid;
  color: white;
  padding: 20px 50px;
}
.block-image {
  max-width: 70%;
  max-height: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.8);
}

.sheep-image {
  max-width: 50%;
  max-height: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.8);
}
</style>
