<template>
  <v-container>
    <div class="d-flex justify-space-between align-center">
      <div>My Courses</div>
    </div>

    <v-row class="mt-10">
      <v-col
        v-for="course in userCourses"
        :key="course.id"
        xs="12"
        sm="5"
        md="4"
      >
        <v-card
          max-width="300"
          height="150"
          @click.stop="openCourse(course.id)"
        >
          <v-card-item>
            <v-card-title>{{ course.name }}</v-card-title>
          </v-card-item>
          <v-card-text>
            {{ course.description }}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { getArrayDataFromId, getDataFromId } from "@/firebase";
import { getters } from "@/store/auth/constants";
import { mapGetters } from "vuex";

export default {
  data: () => ({
    userCourses: [],
  }),
  created() {
    // static user id
    const userId = "01";

    getArrayDataFromId("user-courses/", userId).then((data) => {
      data.forEach((course) => {
        getDataFromId("courses/", course.id).then((obj) => {
          this.userCourses.push({
            ...obj,
            id: course.id,
            instructor: data.instructor_id,
          });
        });
      });
    });
  },
  methods: {
    openCourse(id) {
      this.$router.push({ name: "user-course-view", params: { id } });
    },
  },

  computed: {
    ...mapGetters({
      user: getters.GET_PROFILE_GETTER,
    }),
  },
};
</script>
<style scoped>
.v-card {
  color: #6a81c3;
}
.v-card-title {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}
</style>
