<template>
  <v-container>
    <v-row>
      <v-col cols="2" class="hidden-sm-and-down">
        <v-sheet min-height="30vh" rounded="lg">
          <v-list rounded="lg">
            <v-list-item>
              <v-list-item-title> Item </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-col>

      <v-col>
        <v-sheet min-height="90vh" rounded="lg" class="content">
          <v-container>
            <div class="text-h5">{{ course.name }}</div>
            <div class="mt-3">{{ course.description }}</div>

            <v-menu transition="scroll-y-transition">
              <template v-slot:activator="{ props }">
                <v-btn
                  size="large"
                  icon
                  color="primary"
                  class="fab-action"
                  v-bind="props"
                >
                  <v-icon> mdi-note-edit-outline </v-icon>
                </v-btn>
              </template>
              <div class="fab-list">
                <v-btn class="mt-2" size="small" icon color="red">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
                <v-btn class="mt-2" size="small" icon color="green">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                  @click="dialog = true"
                  class="mt-2"
                  size="small"
                  icon
                  color="indigo"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </v-menu>
          </v-container>
        </v-sheet>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" persistent width="1024">
      <v-container>
        <v-form ref="form">
          <v-card>
            <v-card-title>
              <span class="text-h5">Add Content</span>
            </v-card-title>
            <v-card-text>
              <v-select
                :items="types"
                label="Content Type"
                v-model="content.type"
                item-title="name"
                item-value="id"
              ></v-select>

              <v-text-field
                v-model="content.title"
                :rules="[(v) => !!v || 'Title is required']"
                label="Title"
                required
              ></v-text-field>

              <v-textarea
                v-model="content.text"
                :rules="[(v) => !!v || 'Text is required']"
                label="Text"
                required
              ></v-textarea>

              <v-file-input
                v-if="hasFileInput"
                show-size
                counter
                multiple
                label="File input"
              ></v-file-input>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue-darken-1"
                variant="text"
                @click="dialog = false"
              >
                Close
              </v-btn>
              <v-btn
                color="blue-darken-1"
                variant="text"
                @click="dialog = false"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-container>
    </v-dialog>
  </v-container>
</template>

<script>
import { getDataFromId } from "@/firebase";

export default {
  data: () => ({
    dialog: false,
    course: {},
    content: {
      type: 1,
    },
    types: [
      { id: 1, name: "Text" },
      { id: 2, name: "Activity" },
      { id: 3, name: "Quiz" },
    ],
  }),
  created() {
    getDataFromId("courses/", this.$route.params.id).then((data) => {
      this.course = {
        ...data,
        instructor: data.instructor_id,
      };
    });
  },
  methods: {},
  computed: {
    hasFileInput() {
      return this.content.type === 2 || this.content.type === 3;
    },
  },
};
</script>

<style scoped>
.content {
  position: relative;
}

.fab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.fab-action {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
</style>
