<template>
  <v-container :style="moduleContainer">
    <v-col>
      <v-sheet min-height="60vh" rounded="lg" class="content w-100">
        <v-container>
          <v-form ref="resourceForm">
            <div class="my-1">
              <router-link
                :to="{ name: 'module' }"
                class="d-flex align-center resource-link"
                ><v-icon size="x-small" class="mr-1">mdi-arrow-left</v-icon
                >Return to module</router-link
              >
            </div>

            <template v-if="isEditing">
              <v-text-field
                hide-details
                class="editable-title mt-6"
                v-model="resource.title"
                :rules="[(v) => !!v || 'Title is required']"
                label="Title"
                variant="outlined"
                required
              >
              </v-text-field>

              <div class="my-5">
                <quill-editor
                  v-model:content="resource.text"
                  contentType="html"
                  theme="snow"
                ></quill-editor>
              </div>

              <v-divider inset class="my-1"></v-divider>

              <v-list class="pl-8" density="compact">
                <v-list-item
                  v-for="file in files"
                  :key="file.id"
                  type="divider"
                >
                  <template v-slot:append>
                    <v-btn
                      @click="getFileDetails(file)"
                      variant="text"
                      icon="mdi-delete"
                      color="red"
                    >
                    </v-btn>
                  </template>

                  <template v-slot:prepend>
                    <v-icon
                      size="large"
                      color="blue"
                      icon="mdi-file-document-outline"
                      class="me-4"
                    ></v-icon>
                  </template>

                  <v-list-item-title>
                    <a class="resource-link" target="_blank" :href="file.url">{{
                      file.title
                    }}</a>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </template>

            <template v-else>
              <v-sheet rounded="lg" class="module-title mt-5">
                <div :style="resourceTitle">{{ resource.title }}</div>
              </v-sheet>
              <v-sheet rounded="lg" class="module-description">
                <div>
                  <quill-editor
                    v-model:content="resource.text"
                    contentType="html"
                    read-only
                    theme="bubble"
                  ></quill-editor>
                </div>
              </v-sheet>

              <v-divider inset class="my-5"></v-divider>

              <v-list :style="moduleResources" density="compact">
                <v-list-item
                  v-for="file in files"
                  :key="file.id"
                  type="divider"
                >
                  <template v-slot:prepend>
                    <v-icon
                      size="large"
                      color="blue"
                      icon="mdi-file-document-outline"
                      class="me-4"
                    ></v-icon>
                  </template>

                  <v-list-item-title>
                    <a class="resource-link" target="_blank" :href="file.url">{{
                      file.title
                    }}</a>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </template>

            <template v-if="isStudent">
              <v-sheet class="outline-container mt-10">
                <div class="mb-3">
                  <h4 class="outline-submissions">Submissions</h4>
                </div>

                <v-list v-if="userSubmission" class="pl-3" density="compact">
                  <v-list-item type="divider">
                    <template v-slot:prepend>
                      <v-icon
                        size="large"
                        color="blue"
                        icon="mdi-file-document-outline"
                        class="me-4"
                      ></v-icon>
                    </template>

                    <v-list-item-title>
                      <a
                        class="resource-link"
                        target="_blank"
                        :href="userSubmission.url"
                        >{{ userSubmission.display_name }}</a
                      >
                    </v-list-item-title>

                    <template v-slot:append>
                      <p class="text-green font-weight-medium">
                        Score: {{ userSubmission.score }}
                      </p>
                      <p class="ml-10">
                        Updated at:
                        {{
                          moment(userSubmission.updated_at).format("YYYY/MM/DD")
                        }}
                      </p>
                    </template>
                  </v-list-item>
                </v-list>

                <v-form class="mt-8" ref="studentUploadForm">
                  <v-card
                    color="primary"
                    class="mx-auto"
                    max-width="600"
                    variant="outlined"
                  >
                    <v-card-item>
                      <div class="d-flex justify-center align-center">
                        <v-file-input
                          @change="getFile($event)"
                          hide-details
                          show-size
                          counter
                          label="File input"
                        ></v-file-input>
                        <v-btn
                          class="ml-5"
                          color="primary"
                          variant="flat"
                          @click="submitFile()"
                        >
                          Save
                        </v-btn>
                      </div>
                    </v-card-item>
                  </v-card>
                </v-form>
              </v-sheet>
            </template>
          </v-form>

          <template v-if="!isStudent">
            <v-container class="mt-5">
              <v-expansion-panels v-model="panel">
                <v-expansion-panel class="submissions-expansion">
                  <v-expansion-panel-title>
                    <div class="d-flex align-center">
                      <v-icon
                        size="large"
                        icon="mdi-folder-account-outline"
                        class="mr-3"
                        color="white"
                      ></v-icon>
                      <p class="submissions-title">Student Submissions</p>
                    </div>
                  </v-expansion-panel-title>
                  <v-expansion-panel-text>
                    <template v-if="studentSubmissions.length">
                      <v-table
                        hover
                        density="compact"
                        class="submissions-table pa-5 w-auto"
                      >
                        <thead>
                          <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Uploaded File</th>
                            <th class="text-left">Last Update</th>
                            <th class="text-left">Score</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="submission in studentSubmissions"
                            :key="submission.id"
                          >
                            <td>{{ submission.user_name }}</td>
                            <td>
                              <a
                                class="resource-link"
                                target="_blank"
                                :href="submission.url"
                                >{{ submission.display_name }}</a
                              >
                            </td>
                            <td>
                              {{
                                moment(submission.updated_at).format(
                                  "YYYY/MM/DD"
                                )
                              }}
                            </td>
                            <td>
                              <v-responsive max-width="50">
                                <v-text-field
                                  @change="saveScore(submission)"
                                  variant="underlined"
                                  single-line
                                  min="0"
                                  max="100"
                                  type="number"
                                  v-model="submission.score"
                                ></v-text-field>
                              </v-responsive>
                            </td>
                          </tr>
                        </tbody>
                      </v-table>
                    </template>
                    <template v-else>
                      <v-sheet class="pa-5 text-center" rounded="sm">
                        No submissions yet for this activity.
                      </v-sheet>
                    </template>
                  </v-expansion-panel-text>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-container>

            <v-menu v-if="isEditing" transition="scroll-y-transition">
              <template v-slot:activator="{ props }">
                <v-btn
                  size="large"
                  icon
                  color="secondary"
                  class="fab-action"
                  v-bind="props"
                  @click="saveResource()"
                >
                  <v-icon>mdi-content-save-check-outline </v-icon>
                </v-btn>
              </template>
            </v-menu>

            <v-menu v-else transition="scroll-y-transition">
              <template v-slot:activator="{ props }">
                <v-btn
                  size="large"
                  icon
                  color="tertiary"
                  class="fab-action"
                  v-bind="props"
                >
                  <v-icon> mdi-note-edit-outline </v-icon>
                </v-btn>
              </template>
              <div class="fab-list">
                <v-btn
                  @click="editResource()"
                  class="mt-2"
                  size="small"
                  icon
                  color="green"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                  @click="dialog = true"
                  class="mt-2"
                  size="small"
                  icon
                  color="indigo"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </v-menu></template
          >
        </v-container>
      </v-sheet>
    </v-col>

    <v-dialog v-model="dialog" persistent width="800">
      <v-container>
        <v-form ref="fileForm">
          <v-card class="form-card">
            <v-card-title>
              <span class="form-header">Upload File</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="form-fields mt-5">
              <v-text-field
                v-model="resourceFile.title"
                :rules="[(v) => !!v || 'Title is required']"
                label="Title"
                required
              ></v-text-field>

              <v-file-input
                hide-details
                @change="getFile($event)"
                show-size
                counter
                label="File input"
              ></v-file-input>
            </v-card-text>
            <v-card-actions class="mt-5">
              <v-spacer></v-spacer>
              <v-btn color="primary" variant="text" @click="dialog = false">
                Close
              </v-btn>
              <v-btn
                color="secondary"
                variant="flat"
                class="save-btn"
                @click="addFile()"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-container>
    </v-dialog>

    <custom-dialog
      v-model="deleteDialog"
      :title="`Delete ${resourceFile.title}`"
    >
      <template v-slot:content>
        <v-card-text> Are you sure you want to delete this file? </v-card-text>

        <v-card-actions class="d-flex mt-3 justify-end">
          <v-btn color="primary" @click="deleteDialog = false"> No </v-btn>
          <v-btn color="primary" variant="tonal" @click="deleteFile()">
            Yes
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>
  </v-container>
</template>

<script>
import CustomDialog from "@/components/CustomDialog.vue";
import moduleService from "@/services/module.service";
import { getters } from "@/store/auth/constants";
import { actions as SnackBarActions } from "@/store/snackbar/constants";
import { isNull } from "lodash";
import moment from "moment";
import { useDisplay } from "vuetify";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    CustomDialog,
  },

  data: () => ({
    dialog: false,
    deleteDialog: false,
    deleteOutlineDialog: false,
    isEditing: false,
    resource: {},
    files: [],
    resourceFile: {},
    moduleContents: [],
    file: null,
    preview: null,
    isPicture: false,
    content: {
      title: "",
      text: "",
    },
    userSubmission: {},
    studentSubmissions: [],
    contentId: null,
    panel: [0],
  }),
  setup() {
    // Destructure only the keys we want to use
    const { xs, mdAndUp } = useDisplay();

    return { xs, mdAndUp };
  },
  created() {
    this.moment = moment;

    this.contentId = this.$route.query.contentId;

    this.fetchResource();
  },
  methods: {
    ...mapActions({
      openSnackBar: SnackBarActions.SHOW_SNACKBAR,
    }),

    fetchResource() {
      moduleService
        .getResource(this.contentId, this.$route.params.id)
        .then((data) => {
          this.resource = data;
        });

      moduleService
        .getResourceFiles(this.contentId, this.$route.params.id)
        .then((data) => {
          this.files = data;
        });

      moduleService
        .getUserFiles(this.contentId, this.$route.params.id, this.userId)
        .then((data) => {
          this.userSubmission = data;
        });

      moduleService
        .getStudentSubmissions(this.contentId, this.$route.params.id)
        .then((data) => {
          this.studentSubmissions = data;
        });
    },

    getOutline(type, data) {
      this.content = data;

      if (type == "edit") {
        this.dialog = true;
      } else if (type == "delete") {
        this.deleteOutlineDialog = true;
      }
    },

    getFileDetails(data) {
      this.resourceFile = data;
      this.deleteDialog = true;
    },

    getResourceOutline(data) {
      this.resource.type = 1;
      this.content.id = data.id;
      this.resourceDialog = true;
    },

    getFile(event) {
      if (event.target.files) {
        this.file = event.target.files[0];
        this.preview = null;
        this.isPicture = false;

        if (
          this.file.name.includes(".png") ||
          this.file.name.includes(".jpg")
        ) {
          this.isPicture = true;
        }
      }
    },

    editResource() {
      this.isEditing = true;
    },

    async saveResource() {
      const { valid } = await this.$refs.resourceForm.validate();

      if (valid) {
        if ((this.contentId, this.$route.params.id)) {
          moduleService.saveResource(
            this.contentId,
            this.$route.params.id,
            this.resource
          );
        }

        await this.openSnackBar({
          text: "Content updated.",
          color: "primary",
          timeout: 5000,
        });

        this.fetchResource();
        this.isEditing = false;
      }
    },

    async addFile() {
      const { valid } = await this.$refs.fileForm.validate();

      if (valid) {
        moduleService.addContentResourceFile(
          this.resourceFile,
          this.file,
          this.contentId,
          this.$route.params.id
        );

        await this.openSnackBar({
          text: "Content updated.",
          color: "primary",
          timeout: 5000,
        });

        this.resourceFile = {};
        this.dialog = false;
        this.isEditing = true;

        setTimeout(() => {
          this.fetchResource();
        }, 1000);
      }
    },

    async submitFile() {
      const { valid } = await this.$refs.studentUploadForm.validate();

      if (valid && !isNull(this.file)) {
        moduleService.addSubmissionFile(
          this.file,
          this.contentId,
          this.$route.params.id,
          this.userId
        );

        await this.openSnackBar({
          text: "Submission success.",
          color: "primary",
          timeout: 5000,
        });

        this.resourceFile = {};

        setTimeout(() => {
          this.fetchResource();
        }, 2000);
      }
    },

    async deleteFile() {
      moduleService
        .deleteResourceFile(
          this.contentId,
          this.$route.params.id,
          this.resourceFile
        )
        .then(async () => {
          await this.openSnackBar({
            text: "Content updated.",
            color: "primary",
            timeout: 5000,
          });

          this.resourceFile = {};
          this.fetchResource();
          this.deleteDialog = false;
        });
    },

    async saveScore(submission) {
      if (
        !isNull(submission.score) &&
        submission.score >= 0 &&
        submission.score <= 100
      ) {
        moduleService.saveScore(
          this.contentId,
          this.$route.params.id,
          submission
        );

        await this.openSnackBar({
          text: "Updated score.",
          color: "primary",
          timeout: 5000,
        });

        setTimeout(() => {
          this.fetchResource();
        }, 1000);
      }
    },
  },

  computed: {
    ...mapGetters({
      isLoggedIn: getters.IS_AUTHENTICATED_GETTER,
      isTeacher: getters.IS_TEACHER_GETTER,
      isAdmin: getters.IS_ADMIN_GETTER,
      userId: getters.GET_UID,
    }),

    moduleContainer() {
      return {
        "max-width": this.mdAndUp ? "65vw" : "100vw",
      };
    },

    resourceTitle() {
      return {
        "font-size": this.mdAndUp ? "50px" : "40px",
      };
    },

    moduleResources() {
      return {
        "padding-left": this.mdAndUp ? "30px" : "0",
      };
    },

    isStudent() {
      return !this.isTeacher && !this.isAdmin;
    },

    hasDetailsInput() {
      return this.resource.type === 2 || this.resource.type === 3;
    },

    isFileType() {
      return this.resource.type === 1;
    },

    isActivityType() {
      return this.resource.type === 2;
    },

    isQuizType() {
      return this.resource.type === 3;
    },
  },
};
</script>

<style scoped>
.content {
  position: relative;
  font-family: "Lato";
}

.content p {
  line-height: 1.9em;
}
.fab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.fab-action {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.module-title {
  padding: 0 20px;
  color: #ee4392;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.module-description {
  padding: 0 5px;
}

.outline-divider {
  margin: 20px 0;
}

.outline-container {
  padding: 0 20px;
  margin-bottom: 30px;
}

.submissions-container {
  padding: 20px;
  margin-bottom: 20px;
}

.submissions-expansion {
  background-color: #004e99;
}

:deep(.submissions-table) {
  border-radius: 5px !important;
}

.submissions-title {
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.outline-submissions {
  color: #ee4392;
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.outline-container h4 {
  color: #ee4392;
}
.outline-add-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}

.editable-title :deep(input) {
  color: #ee4392;
  font-size: 40px;
  font-weight: 700;
}

.form-card {
  padding: 15px;
}

.form-header {
  color: #004e99;
  font-weight: 700;
  font-size: 30px;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.form-fields {
  margin: 10px 15px;
  padding: 30px;
}

.save-btn {
  color: white !important;
}

.resource-link:hover {
  cursor: pointer;
  color: #004e99;
}

:deep(.ql-container) {
  font-family: "Lato" !important;
  font-size: inherit !important;
}

:deep(.form-fields .ql-editor) {
  min-height: 150px;
}

:deep(.ql-tooltip) {
  display: none;
}
</style>
