<template>
  <v-container :style="moduleContainer">
    <v-col>
      <v-sheet min-height="90vh" rounded="lg" class="content w-100">
        <v-container>
          <v-form ref="moduleForm">
            <template v-if="isEditing">
              <v-sheet rounded="lg" class="module-title-editable">
                <v-text-field
                  hide-details
                  class="editable-title"
                  v-model="module.title"
                  :rules="[(v) => !!v || 'Title is required']"
                  label="Title"
                  variant="outlined"
                  required
                >
                </v-text-field>
              </v-sheet>

              <div class="my-5">
                <quill-editor
                  v-model:content="module.description"
                  contentType="html"
                  theme="snow"
                ></quill-editor>
              </div>

              <template v-for="content in moduleContents" :key="content.id">
                <v-sheet border class="outline-container-editable">
                  <v-btn
                    @click="getResourceOutline(content)"
                    class="outline-add-btn"
                    size="small"
                    icon
                    color="secondary"
                  >
                    <v-icon>mdi-plus-box-multiple</v-icon>
                  </v-btn>
                  <v-btn
                    @click="getOutline('edit', content)"
                    class="outline-edit-btn"
                    size="small"
                    icon
                    color="green"
                  >
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn
                    @click="getOutline('delete', content)"
                    class="outline-delete-btn"
                    size="small"
                    icon
                    color="red"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>

                  <div class="mb-3 outline-editable">
                    <h4 class="text-h5 font-weight-bold mb-3">
                      {{ content.title }}
                    </h4>

                    <quill-editor
                      v-model:content="content.text"
                      contentType="html"
                      read-only
                      theme="bubble"
                    ></quill-editor>
                  </div>

                  <v-list
                    v-if="content.resources"
                    class="pl-8"
                    density="compact"
                  >
                    <v-list-item
                      v-for="resource in content.resources"
                      :key="resource.id"
                      class="list-items"
                      type="divider"
                    >
                      <template v-slot:append>
                        <v-btn
                          @click="getResource(content.id, resource)"
                          variant="text"
                          icon="mdi-delete"
                          color="red"
                        >
                        </v-btn>
                      </template>

                      <template v-slot:prepend>
                        <v-icon
                          size="large"
                          :color="getResourceColor(resource.type)"
                          :icon="getResourceIcon(resource.type)"
                          class="me-4"
                        ></v-icon>
                      </template>

                      <v-list-item-title>
                        <a
                          v-if="resource.type === 1"
                          class="resource-link"
                          target="_blank"
                          :href="resource.url"
                          >{{ resource.title }}</a
                        >
                        <span
                          v-if="resource.type === 2"
                          class="resource-link"
                          @click="viewResource(content.id, resource.id)"
                        >
                          {{ resource.title }}
                        </span>
                        <a
                          v-if="resource.type === 3"
                          class="resource-link"
                          target="_blank"
                          :href="resource.quiz_link"
                          >{{ resource.title }}</a
                        >
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-sheet>
              </template>
            </template>

            <template v-else>
              <v-sheet rounded="lg" class="module-title">
                <div :style="moduleTitle">{{ module.title }}</div>
              </v-sheet>
              <v-sheet rounded="lg" class="my-3">
                <div>
                  <quill-editor
                    v-model:content="module.description"
                    contentType="html"
                    read-only
                    theme="bubble"
                  ></quill-editor>
                </div>
              </v-sheet>

              <v-divider class="outline-divider"></v-divider>

              <template v-for="content in moduleContents" :key="content.id">
                <v-sheet class="outline-container">
                  <div class="mb-3">
                    <h4 class="font-weight-bold mb-3 outline-header">
                      {{ content.title }}
                    </h4>

                    <quill-editor
                      v-model:content="content.text"
                      contentType="html"
                      read-only
                      theme="bubble"
                    ></quill-editor>
                  </div>
                  <v-divider inset></v-divider>

                  <v-list
                    v-if="content.resources"
                    :style="moduleResources"
                    class="my-5"
                    density="compact"
                  >
                    <v-list-item
                      v-for="resource in content.resources"
                      :key="resource.id"
                      type="divider"
                    >
                      <template v-slot:prepend>
                        <v-icon
                          size="large"
                          :color="getResourceColor(resource.type)"
                          :icon="getResourceIcon(resource.type)"
                          class="me-4"
                        ></v-icon>
                      </template>

                      <v-list-item-title>
                        <a
                          v-if="resource.type === 1"
                          class="resource-link"
                          target="_blank"
                          :href="resource.url"
                          >{{ resource.title }}</a
                        >
                        <span
                          v-if="resource.type === 2"
                          class="resource-link"
                          @click="viewResource(content.id, resource.id)"
                        >
                          {{ resource.title }}
                        </span>

                        <a
                          v-if="resource.type === 3"
                          class="resource-link"
                          target="_blank"
                          :href="resource.quiz_link"
                          >{{ resource.title }}</a
                        >
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-sheet>
              </template>
            </template>
          </v-form>

          <template v-if="!isStudent">
            <v-menu v-if="isEditing" transition="scroll-y-transition">
              <template v-slot:activator="{ props }">
                <v-btn
                  size="large"
                  icon
                  color="secondary"
                  class="fab-action"
                  v-bind="props"
                  @click="saveModule()"
                >
                  <v-icon>mdi-content-save-check-outline </v-icon>
                </v-btn>
              </template>
            </v-menu>

            <v-menu v-else transition="scroll-y-transition">
              <template v-slot:activator="{ props }">
                <v-btn
                  size="large"
                  icon
                  color="tertiary"
                  class="fab-action"
                  v-bind="props"
                >
                  <v-icon> mdi-note-edit-outline </v-icon>
                </v-btn>
              </template>
              <div class="fab-list">
                <v-btn
                  @click="editModule()"
                  class="mt-2"
                  size="small"
                  icon
                  color="green"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                  @click="dialog = true"
                  class="mt-2"
                  size="small"
                  icon
                  color="indigo"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </div>
            </v-menu></template
          >
        </v-container>
      </v-sheet>
    </v-col>

    <v-dialog v-model="dialog" width="800">
      <v-container>
        <v-form ref="contentForm">
          <v-card class="form-card">
            <v-card-title>
              <span class="form-header">Module Outline</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="form-fields">
              <v-text-field
                class="pt-5"
                v-model="content.title"
                :rules="[(v) => !!v || 'Title is required']"
                label="Title"
                required
              ></v-text-field>

              <quill-editor
                v-model:content="content.text"
                contentType="html"
                theme="snow"
              ></quill-editor>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" variant="text" @click="dialog = false">
                Close
              </v-btn>
              <v-btn
                color="secondary"
                variant="flat"
                class="save-btn"
                @click="saveContent()"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-container>
    </v-dialog>

    <v-dialog v-model="resourceDialog" width="800">
      <v-container>
        <v-form ref="resourceForm">
          <v-card class="form-card">
            <v-card-title>
              <span class="form-header">Outline Resource</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="form-fields mt-5">
              <v-select
                :items="types"
                label="Content Type"
                v-model="resource.type"
                item-title="name"
                item-value="id"
              ></v-select>

              <v-text-field
                v-model="resource.title"
                :rules="[(v) => !!v || 'Title is required']"
                label="Title"
                required
              ></v-text-field>

              <quill-editor
                v-if="isActivityType"
                v-model:content="resource.text"
                contentType="html"
                theme="snow"
              ></quill-editor>

              <v-file-input
                v-if="isFileType"
                @change="getFile($event)"
                show-size
                counter
                multiple
                label="File input"
              ></v-file-input>

              <v-text-field
                v-if="isQuizType"
                v-model="resource.quiz_link"
                label="Quiz Link"
                prepend-icon="mdi-file-link-outline"
              ></v-text-field>

              <div v-if="!isPicture">
                {{ preview }}
              </div>
              <div v-else>
                <img :src="preview" style="width: 75%" />
              </div>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                variant="text"
                @click="resourceDialog = false"
              >
                Close
              </v-btn>
              <v-btn
                color="secondary"
                variant="flat"
                class="save-btn"
                @click="saveResource()"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-container>
    </v-dialog>

    <custom-dialog
      v-model="deleteOutlineDialog"
      :title="`Delete ${content.title}`"
    >
      <template v-slot:content>
        <v-card-text>
          Are you sure you want to delete this outline?
        </v-card-text>

        <v-card-actions class="d-flex mt-3 justify-end">
          <v-btn color="primary" @click="deleteOutlineDialog = false">
            No
          </v-btn>
          <v-btn color="primary" variant="tonal" @click="deleteOutline()">
            Yes
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>

    <custom-dialog v-model="deleteDialog" :title="`Delete ${resource.title}`">
      <template v-slot:content>
        <v-card-text>
          Are you sure you want to delete this resource?
        </v-card-text>

        <v-card-actions class="d-flex mt-3 justify-end">
          <v-btn color="primary" @click="deleteDialog = false"> No </v-btn>
          <v-btn color="primary" variant="tonal" @click="deleteResource()">
            Yes
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>
  </v-container>
</template>

<script>
import CustomDialog from "@/components/CustomDialog.vue";
import moduleService from "@/services/module.service";
import { getters } from "@/store/auth/constants";
import { actions as SnackBarActions } from "@/store/snackbar/constants";
import { useDisplay } from "vuetify";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    CustomDialog,
  },

  data: () => ({
    dialog: false,
    resourceDialog: false,
    deleteDialog: false,
    deleteOutlineDialog: false,
    isEditing: false,
    module: {},
    moduleContents: [],
    file: null,
    preview: null,
    isPicture: false,
    content: {
      title: "",
      text: "",
    },
    resource: {
      title: "",
      text: "",
      type: 1,
    },
    types: [
      { id: 1, name: "File" },
      { id: 2, name: "Activity" },
      { id: 3, name: "Quiz" },
    ],
  }),

  setup() {
    // Destructure only the keys we want to use
    const { xs, mdAndUp } = useDisplay();

    return { xs, mdAndUp };
  },
  created() {
    this.fetchModule();
  },
  methods: {
    ...mapActions({
      openSnackBar: SnackBarActions.SHOW_SNACKBAR,
    }),

    fetchModule() {
      moduleService.getModule().then((data) => {
        this.module = data;
      });

      moduleService.getModuleContents().then((data) => {
        this.moduleContents = data;
      });
    },

    getOutline(type, data) {
      this.content = {};
      this.resource = {};
      this.content = data;

      if (type == "edit") {
        this.dialog = true;
      } else if (type == "delete") {
        this.deleteOutlineDialog = true;
      }
    },

    getResource(id, data) {
      this.content.id = id;
      this.resource = data;
      this.deleteDialog = true;
    },

    getResourceIcon(type) {
      switch (type) {
        case 1:
          return "mdi-file-document-outline";
        case 2:
          return "mdi-folder-file-outline";
        case 3:
          return "mdi-comment-question-outline";
      }
    },

    getResourceColor(type) {
      switch (type) {
        case 1:
          return "blue";
        case 2:
          return "orange";
        case 3:
          return "green";
      }
    },

    getResourceOutline(data) {
      this.resource.type = 1;
      this.content.id = data.id;
      this.resourceDialog = true;
    },

    getFile(event) {
      this.file = event.target.files[0];
      this.preview = null;
      this.isPicture = false;

      if (this.file.name.includes(".png") || this.file.name.includes(".jpg")) {
        this.isPicture = true;
      }
    },

    editModule() {
      this.isEditing = true;
    },

    viewResource(contentId, id) {
      this.$router.push({
        name: "module-resource-view",
        params: { id },
        query: { contentId },
      });
    },

    async saveModule() {
      const { valid } = await this.$refs.moduleForm.validate();

      if (valid) {
        moduleService.saveModule({
          title: this.module.title,
          description: this.module.description,
        });

        await this.openSnackBar({
          text: "Module updated.",
          color: "primary",
          timeout: 5000,
        });
      }

      this.content = {};
      this.isEditing = false;
    },

    async saveContent() {
      const { valid } = await this.$refs.contentForm.validate();

      if (valid) {
        if (this.content.id) {
          moduleService.editContent(this.content.id, {
            title: this.content.title,
            text: this.content.text,
          });
        } else {
          moduleService.addContent({
            title: this.content.title,
            text: this.content.text,
          });
        }

        await this.openSnackBar({
          text: "Content updated.",
          color: "primary",
          timeout: 5000,
        });

        this.content = {};
        this.fetchModule();
        this.dialog = false;
        this.isEditing = true;
      }
    },

    async saveResource() {
      const { valid } = await this.$refs.resourceForm.validate();

      if (valid) {
        if (this.isFileType) {
          moduleService.addFileResource(
            this.resource,
            this.file,
            this.content.id
          );
        } else {
          moduleService.addResource(this.resource, this.content.id);
        }

        await this.openSnackBar({
          text: "Content updated.",
          color: "primary",
          timeout: 5000,
        });

        this.resource = {};
        this.resourceDialog = false;

        setTimeout(() => {
          this.fetchModule();
        }, 1000);
      }
    },

    async deleteOutline() {
      moduleService.deleteOutline(this.content).then(async () => {
        await this.openSnackBar({
          text: "Content updated.",
          color: "primary",
          timeout: 5000,
        });

        this.resource = {};
        this.fetchModule();
        this.deleteOutlineDialog = false;
      });
    },

    async deleteResource() {
      moduleService
        .deleteResource(this.content.id, this.resource)
        .then(async () => {
          await this.openSnackBar({
            text: "Content updated.",
            color: "primary",
            timeout: 5000,
          });

          this.resource = {};
          this.fetchModule();
          this.deleteDialog = false;
        });
    },
  },

  computed: {
    ...mapGetters({
      isLoggedIn: getters.IS_AUTHENTICATED_GETTER,
      isTeacher: getters.IS_TEACHER_GETTER,
      isAdmin: getters.IS_ADMIN_GETTER,
    }),

    moduleContainer() {
      return {
        "max-width": this.mdAndUp ? "65vw" : "100vw",
      };
    },

    moduleTitle() {
      return {
        "font-size": this.mdAndUp ? "50px" : "40px",
      };
    },

    moduleResources() {
      return {
        "padding-left": this.mdAndUp ? "30px" : "0",
      };
    },

    isStudent() {
      return !this.isTeacher && !this.isAdmin;
    },

    isFileType() {
      return this.resource.type === 1;
    },

    isActivityType() {
      return this.resource.type === 2;
    },

    isQuizType() {
      return this.resource.type === 3;
    },
  },
};
</script>

<style scoped>
.content {
  position: relative;
  font-family: "Lato";
}

.content p {
  line-height: 1.9em;
}

.fab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.fab-action {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.module-title {
  padding: 0 20px;
  background-color: #ee4392;
  color: white;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.module-title-editable {
  padding: 20px;
  background-color: #ee4392;
  color: white;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.editable-title :deep(input) {
  font-size: 40px;
  font-weight: 700;
}
.outline-divider {
  margin: 20px 0;
}

.outline-container {
  padding: 0 20px;
  margin-bottom: 50px;
}

.outline-container h4 {
  color: #004e99;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.outline-editable h4 {
  color: #004e99;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.outline-header {
  font-size: 1.7rem;
}

.outline-container-editable {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
}

.outline-delete-btn {
  position: absolute;
  right: 90px;
  top: -10px;
}

.outline-edit-btn {
  position: absolute;
  right: 40px;
  top: -10px;
}

.outline-add-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}

.form-card {
  padding: 15px;
}

.form-header {
  color: #004e99;
  font-weight: 700;
  font-size: 30px;
  font-family: "Roboto Slab", "Times New Roman", serif !important;
}

.form-fields {
  margin: 10px 15px;
  padding: 30px;
}

.save-btn {
  color: white !important;
}

.resource-link:hover {
  cursor: pointer;
  color: #ee4392;
}

:deep(.ql-container) {
  font-family: "Lato" !important;
  font-size: inherit !important;
}

:deep(.form-fields .ql-editor) {
  min-height: 150px;
}

:deep(.ql-tooltip) {
  display: none;
}
</style>
