<template>
  <div>
    <v-dialog
      :model-value="modelValue"
      :timeout="timeout"
      :color="color"
      width="500"
      persistent
    >
      <v-container>
        <v-card class="card h-50 w-100">
          <template v-slot:title>
            {{ title }}
          </template>

          <template v-slot:text>
            <slot name="content" />
          </template>
        </v-card>
      </v-container>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "CustomDialog",

  props: {
    modelValue: Boolean,
    title: String,
  },

  created() {},
  data() {
    return {
      show: false,
      color: "",
      text: "",
      timeout: 0,
    };
  },
};
</script>

<style scoped>
.card {
  padding: 10px !important;
}
</style>
