<template>
  <div>
    <v-snackbar v-model="show" :timeout="timeout" :color="color">
      {{ text }}
    </v-snackbar>
  </div>
</template>

<script>
import * as _ from "lodash";
import { mutations as SnackBarMutations } from "@/store/snackbar/constants";

export default {
  name: "SnackBar",

  created() {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === SnackBarMutations.SHOW_SNACKBAR) {
        this.text = state.snackbar.text;
        this.color = state.snackbar.color;
        this.timeout = state.snackbar.timeout;
        this.show = true;
      }
    });
  },
  data() {
    return {
      show: false,
      color: "",
      text: "",
      timeout: 0,
    };
  },
};
</script>