<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Change your password</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Let's keep our accounts secure!</p>
        </div>
      </template>

      <template v-slot:text>
        <v-form ref="form" class="w-100 my-10">
          <v-text-field
            color="secondary"
            type="password"
            v-model="form.currentPassword"
            :rules="[(v) => !!v || 'Current password is required']"
            label="Current Password"
            required
          ></v-text-field>

          <v-text-field
            color="secondary"
            type="password"
            v-model="form.newPassword"
            :rules="[(v) => !!v || 'New password is required']"
            label="New password"
            required
          ></v-text-field>

          <v-text-field
            color="secondary"
            type="password"
            v-model="form.confirmNewPassword"
            :rules="[
              (v) => !!v || 'You must confirm your new password',
              (v) => v === form.newPassword || 'New password does not match',
            ]"
            label="Confirm new password"
            required
          ></v-text-field>
        </v-form>
      </template>

      <template v-slot:actions>
        <div class="d-flex justify-center w-100 my-5">
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="text"
            @click="$router.back()"
          >
            Back
          </v-btn>
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="changeMyPassword()"
          >
            Change password
          </v-btn>
        </div>
      </template>
    </v-card>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions, mapGetters } from "vuex";
import { actions, getters } from "@/store/auth/constants";
import * as _ from "lodash";

export default {
  data: () => ({
    genderList: GENDERS,
    form: {
      currentPassword: null,
      newPassword: null,
      confirmNewPassword: null,
    },
  }),

  computed: {
    ...mapGetters({
      userProfile: getters.GET_PROFILE_GETTER,
    }),
  },

  methods: {
    ...mapActions({
      changePassword: actions.CHANGE_MY_PASSWORD,
    }),

    async changeMyPassword() {
      const { valid } = await this.$refs.form.validate();

      if (valid) {
        await this.changePassword({
          currentPassword: this.form.currentPassword,
          newPassword: this.form.newPassword,
        });

        this.$router.push({ name: "profile" });
      }
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 15px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

