<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Change your email</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Let's keep our accounts secure!</p>
        </div>
      </template>

      <template v-slot:text>
        <v-text-field
          class="mt-5"
          color="secondary"
          v-model="newEmail"
          :rules="[(v) => !!v || 'Email is required']"
          label="Email"
          required
        ></v-text-field>
      </template>

      <template v-slot:actions>
        <div class="d-flex justify-center w-100 my-5">
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="text"
            @click="$router.back()"
          >
            Back
          </v-btn>
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="changeMyEmail()"
            :disabled="newEmail === userProfile.email"
          >
            Update Email
          </v-btn>
        </div>
      </template>
    </v-card>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions, mapGetters } from "vuex";
import { actions, getters } from "@/store/auth/constants";
import * as _ from "lodash";

export default {
  data: () => ({
    genderList: GENDERS,
    newEmail: null,
  }),

  computed: {
    ...mapGetters({
      userProfile: getters.GET_PROFILE_GETTER,
    }),
  },

  mounted() {
    this.newEmail = this.userProfile.email;
  },

  methods: {
    ...mapActions({
      changeEmail: actions.CHANGE_EMAIL,
    }),

    async changeMyEmail() {
      if (this.newEmail && this.newEmail !== this.userProfile.email) {
        await this.changeEmail({
          newEmail: this.newEmail,
        });

        this.$router.push({ name: "profile" });
      }
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 15px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

