<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Edit profile</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Keep our personal details updated!</p>
        </div>
      </template>

      <template v-slot:text>
        <v-form ref="form" class="w-100 my-10">
          <v-text-field
            color="secondary"
            v-model="user.displayName"
            :rules="[(v) => !!v || 'Name is required']"
            label="Name"
            required
          ></v-text-field>

          <v-select
            color="secondary"
            v-model="user.gender"
            :items="genderList"
            item-title="text"
            item-value="value"
            required
          ></v-select>
        </v-form>
      </template>

      <template v-slot:actions>
        <div class="d-flex justify-center w-100 my-5">
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="text"
            @click="$router.back()"
          >
            Back
          </v-btn>
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="save()"
          >
            Save changes
          </v-btn>
        </div>
      </template>
    </v-card>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions, mapGetters } from "vuex";
import { actions, getters } from "@/store/auth/constants";
import * as _ from "lodash";

export default {
  data: () => ({
    genderList: GENDERS,
    user: {
      displayName: "",
      gender: "male",
    },
  }),

  mounted() {
    this.user.displayName = this.userProfile.displayName;
    this.user.gender = this.userProfile.gender;
  },

  computed: {
    ...mapGetters({
      userProfile: getters.GET_PROFILE_GETTER,
    }),
  },

  methods: {
    ...mapActions({
      updateProfile: actions.UPDATE_PROFILE,
    }),

    async save() {
      const { valid } = await this.$refs.form.validate();
      if (valid) {
        await this.updateProfile({ payload: this.user });

        this.$router.push({ name: "profile" });
      }
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 15px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

