<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Forgot your password</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Please enter your email.</p>
        </div>
      </template>

      <template v-slot:text>
        <v-text-field
          class="mt-5"
          color="secondary"
          v-model="email"
          :rules="[(v) => !!v || 'Email is required']"
          label="Email"
          required
        ></v-text-field>
      </template>

      <template v-slot:actions>
        <div class="d-flex justify-center w-100 my-5">
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="text"
            @click="$router.back()"
          >
            Back
          </v-btn>
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="passwordReset()"
          >
            Send Reset Email
          </v-btn>
        </div>
      </template>
    </v-card>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions } from "vuex";
import { actions } from "@/store/snackbar/constants";
import * as _ from "lodash";
import { sendPasswordReset } from "@/firebase";
import { errorHandler } from "@/util/error-handler";

export default {
  data: () => ({
    genderList: GENDERS,
    email: null,
  }),

  methods: {
    ...mapActions({
      notify: actions.SHOW_SNACKBAR,
    }),

    async passwordReset() {
      try {
        if (this.email) {
          await sendPasswordReset(this.email);

          this.notify({
            text: "Email sent!",
            color: "primary",
            timeout: 5000,
          });
          this.$router.push({ name: "sign-in" });
        }
      } catch (error) {
        errorHandler(error);
      }
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 15px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

