<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50 ma-6">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Profile</p>
        </div>
      </template>

      <template v-slot:text>
        <v-table>
          <tbody>
            <tr v-for="(value, key) in getProfileDetails" :key="key">
              <td>{{ key }}</td>
              <td>
                <b v-if="key !== 'Password'">{{ value }}</b>
                <router-link to="change-password" v-if="key === 'Password'"
                  >Change password</router-link
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </template>

      <template v-slot:actions>
        <div class="d-flex justify-center w-100 my-5">
          <v-btn
            class="mt-2 w-50"
            color="primary"
            variant="flat"
            @click="$router.push('edit-profile')"
          >
            Edit Profile
          </v-btn>
        </div>
      </template>
    </v-card>

    <v-card class="card-50-radius h-auto w-50 ma-6">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Account Security</p>
        </div>
      </template>

      <template v-slot:text>
        <v-list class="text-center">
          <v-list-item>
            <router-link to="change-email">Change email</router-link>
          </v-list-item>
          <v-list-item>
            <router-link to="change-password">Change password</router-link>
          </v-list-item>
          <v-list-item>
            <p @click="dialog = true" class="cursor-pointer">
              Delete my account
            </p>
          </v-list-item>
        </v-list>
      </template>
    </v-card>
    <custom-dialog v-model="dialog" title="Delete user">
      <template v-slot:content>
        <div class="pb-7 pt-3">
          You are attempting to delete account. All informations related to you
          will be <b>permanently deleted</b>. Are you sure you want to continue?
        </div>
        <div class="py-4">To continue, enter your password.</div>

        <div>
          <v-text-field
            color="secondary"
            type="password"
            v-model="password"
            :rules="[(v) => !!v || 'Password is required']"
            label="Password"
            required
          ></v-text-field>
        </div>
        <v-card-actions class="d-flex pb-5">
          <v-btn color="danger" @click="dialog = false"> Cancel </v-btn>
          <v-btn
            color="danger"
            :disabled="!password"
            variant="flat"
            @click="deleteUser()"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </template>
    </custom-dialog>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions, mapGetters } from "vuex";
import { actions, getters } from "@/store/auth/constants";
import * as _ from "lodash";
import CustomDialog from "@/components/CustomDialog.vue";
import { deleteAccount } from "@/firebase";

export default {
  components: {
    CustomDialog,
  },
  data: () => ({
    genderList: GENDERS,
    dialog: false,
    password: null,
  }),

  computed: {
    ...mapGetters({
      userProfile: getters.GET_PROFILE_GETTER,
    }),
    getGender() {
      return (gender) => {
        const genderObj = _.find(GENDERS, { value: gender });
        return _.get(genderObj, "text", "");
      };
    },
    getProfileDetails() {
      return {
        Name: this.userProfile.displayName,
        Gender: this.getGender(this.userProfile.gender),
        Email: this.userProfile.email,
        Roles: _.join(this.getRole, ", "),
        "Created at": this.userProfile.creationTime,
        "Last Signed In": this.userProfile.lastSignInTime,
      };
    },

    getRole() {
      const roles = [];
      if (this.userProfile.isAdmin) {
        roles.push("Admin");
      }

      if (this.userProfile.isTeacher) {
        roles.push("Teacher");
      }

      if (!this.userProfile.isTeacher && !this.userProfile.isAdmin) {
        roles.push("Student");
      }

      return roles;
    },
  },

  methods: {
    ...mapActions({
      loginUser: actions.LOGIN_ACTION,
    }),

    async deleteUser() {
      await deleteAccount(this.password);
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 20px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

