<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Great to see you again!</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Let's get you signed in.</p>
        </div>
      </template>

      <template v-slot:text>
        <v-form ref="form" class="w-100 my-10">
          <v-text-field
            color="secondary"
            v-model="user.email"
            :rules="[(v) => !!v || 'Email is required']"
            label="Email"
            required
          ></v-text-field>

          <v-text-field
            color="secondary"
            type="password"
            v-model="user.password"
            :rules="[(v) => !!v || 'Password is required']"
            label="Password"
            required
          ></v-text-field>
        </v-form>

        <div class="d-flex justify-center text-center">
          <p>Forgot Password?</p>
          <b>
            <router-link to="forgot-password" class="px-2 cursor-pointer">
              Click here.
            </router-link>
          </b>
        </div>
      </template>

      <template v-slot:actions>
        <v-btn
          block
          class="mt-2 w-50"
          color="primary"
          variant="flat"
          @click="onSubmit()"
        >
          Sign in
        </v-btn>
      </template>
    </v-card>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions, mapGetters } from "vuex";
import { actions, getters } from "@/store/auth/constants";
import { actions as SnackBarActions } from "@/store/snackbar/constants";

export default {
  data: () => ({
    user: {
      name: "",
      email: "",
      password: "",
      gender: "male",
    },
    genderList: GENDERS,
  }),

  computed: {
    ...mapGetters({
      isLoggedIn: getters.IS_AUTHENTICATED_GETTER,
    }),
  },

  methods: {
    ...mapActions({
      loginUser: actions.LOGIN_ACTION,
      openSnackBar: SnackBarActions.SHOW_SNACKBAR,
    }),

    async onSubmit() {
      const { valid } = await this.$refs.form.validate();

      if (valid) {
        const success = await this.loginUser({
          email: this.user.email,
          password: this.user.password,
        });

        if (success) {
          await this.openSnackBar({
            text: "Welcome to Anited!",
            color: "primary",
            timeout: 5000,
          });
        }

        this.$router.push({ name: success ? "dashboard" : "sign-in" });
      }
    },
  },
};
</script>
<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 20px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>

