<template>
  <div class="d-flex justify-center my-16 pa-0">
    <v-card class="card-50-radius h-auto w-50">
      <template v-slot:title>
        <div class="d-flex justify-center">
          <p class="title">Get Started!</p>
        </div>
      </template>

      <template v-slot:subtitle>
        <div class="d-flex justify-center">
          <p class="subtitle">Create an account with these easy steps.</p>
        </div>
      </template>

      <template v-slot:text>
        <v-form ref="form" class="w-100 my-10">
          <v-text-field
            color="secondary"
            v-model="user.name"
            :rules="[(v) => !!v || 'Name is required']"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            color="secondary"
            v-model="user.email"
            :rules="[(v) => !!v || 'Email is required']"
            label="Email"
            required
          ></v-text-field>

          <v-text-field
            color="secondary"
            type="password"
            v-model="user.password"
            :rules="[(v) => !!v || 'Password is required']"
            label="Password"
            required
          ></v-text-field>

          <v-select
            color="secondary"
            v-model="user.gender"
            :items="genderList"
            item-title="text"
            item-value="value"
            required
          ></v-select>
        </v-form>
      </template>

      <template v-slot:actions>
        <v-btn
          block
          class="mt-2 w-50"
          color="primary"
          variant="flat"
          @click="onSubmit()"
        >
          Sign up
        </v-btn>
      </template>
    </v-card>
    <snack-bar></snack-bar>
  </div>
</template>

<script>
import { GENDERS } from "@/shared/constants";
import { mapActions } from "vuex";
import { actions } from "@/store/auth/constants";
import SnackBar from "@/components/SnackBar.vue";

export default {
  components: {
    SnackBar,
  },

  data: () => ({
    user: {
      name: "",
      email: "",
      password: "",
      gender: "male",
    },
    genderList: GENDERS,
    openSnackBar: false,
  }),

  methods: {
    ...mapActions({
      signUpStudent: actions.SIGNUP_STUDENT_ACTION,
    }),

    async onSubmit() {
      const { valid } = await this.$refs.form.validate();

      if (valid) {
        await this.signUpStudent({ user: this.user });

        this.$router.push({ name: "dashboard" });
      }
    },
  },
};
</script>

<style>
.card-50-radius {
  border-radius: 50px !important;
  padding: 20px !important;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 20px;
}

.v-card-text {
  padding: 0 15px !important;
}
</style>
