<template>
  <v-app-bar
    elevation="1"
    color="primary"
    class="px-3 h"
    flat
    density="compact"
  >
    <template v-slot:prepend>
      <v-app-bar-title @click="$router.push('/')">
        <div class="me-5 logo-icon">
          <img
            class="me-1 logo-image"
            height="30"
            src="/assets/anited-logo.png"
          />
          <div :style="logoText" class="logo-title">
            Animation Technology Education
          </div>
        </div>
      </v-app-bar-title>
    </template>

    <v-app-bar-title>
      <v-tabs color="white">
        <v-tab v-if="isLoggedIn" to="/dashboard">Home</v-tab>
        <v-tab to="/sign-up" v-if="!isLoggedIn">Sign up</v-tab>
        <v-tab to="/sign-in" v-if="!isLoggedIn">Sign in </v-tab>
        <v-tab to="/users" v-if="isLoggedIn && isAdmin">Users</v-tab>
        <v-tab to="/module" v-if="isLoggedIn">Module</v-tab>
        <v-tab to="/contact-us">Contact Us</v-tab>
      </v-tabs>
    </v-app-bar-title>

    <template v-slot:append>
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-avatar
            v-if="isLoggedIn"
            class="user-icon hidden-sm-and-down ml-auto"
            color="tertiary"
            size="32"
            v-bind="props"
          >
            <div class="user-initials">
              {{ nameInitials }}
            </div>
          </v-avatar>
        </template>

        <v-list>
          <v-list-item @click="$router.push('profile')">
            <v-icon icon="mdi-account"></v-icon>
            Profile
          </v-list-item>
          <v-list-item @click="logoutUser()">
            <v-icon icon="mdi-logout"></v-icon>
            Logout
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
  </v-app-bar>
</template>

<script>
import { actions, getters } from "@/store/auth/constants";
import { actions as SnackBarActions } from "@/store/snackbar/constants";
import { upperCase } from "lodash";
import { useDisplay } from "vuetify";
import { mapActions, mapGetters } from "vuex";

export default {
  setup() {
    // Destructure only the keys we want to use
    const { xs, mdAndUp } = useDisplay();

    return { xs, mdAndUp };
  },
  computed: {
    ...mapGetters({
      isLoggedIn: getters.IS_AUTHENTICATED_GETTER,
      isTeacher: getters.IS_TEACHER_GETTER,
      isAdmin: getters.IS_ADMIN_GETTER,
      user: getters.GET_PROFILE_GETTER,
    }),

    isStudent() {
      return !this.isTeacher && !this.isAdmin;
    },

    nameInitials() {
      console.log();
      const name = upperCase(this.user.displayName || "NA");
      const wordsCount = name?.split(" ").length;

      console.log(this.user);

      if (wordsCount > 1) {
        const initials = name?.split(" ").slice(0, 2).join(" ");

        return initials?.match(/\b(\w)/g)?.join("");
      }

      return name?.slice(0, 2);
    },

    logoText() {
      return {
        display: this.mdAndUp ? "block" : "none",
      };
    },
  },

  methods: {
    ...mapActions({
      logout: actions.LOGOUT_ACTION,
      openSnackBar: SnackBarActions.SHOW_SNACKBAR,
    }),

    async logoutUser() {
      await this.logout();
      if (!this.isLoggedIn) {
        this.$router.push({ name: "sign-in" });
      }
      await this.openSnackBar({
        text: "You have logged out succesfully.",
        color: "primary",
        timeout: 5000,
      });
    },
  },
};
</script>

<style scoped>
.user-initials {
  font-family: "Lato";
  font-weight: 500;
  padding-bottom: 3px;
}

.user-icon:hover,
.logo-image:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.logo-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-title {
  font-weight: 500;
  font-size: 12px;
  font-family: "Montserrat" !important;
}
</style>
