<template>
  <v-app>
    <default-bar />

    <default-view />
    <snack-bar></snack-bar>
  </v-app>
</template>

<script setup>
import SnackBar from "@/components/SnackBar.vue";
import DefaultBar from "./AppBar.vue";
import DefaultView from "./View.vue";
</script>
